@page "/register"
@using Controller.Account
@using FluentValidation.Results


<div class="frame">
    <MCard MaxWidth="500" MinWidth="320" Loading="loading">
        <ProgressContent>
            <MProgressLinear Color="deep-purple" Height="10" Indeterminate />
        </ProgressContent>
        <ChildContent>
            <MForm EnableI18n OnValidSubmit="Submit" Disabled="loading" Model="command" ValidateOn="ValidateOn.Input">
                <MCardTitle>@I18n.T("Register")</MCardTitle>
                <MCardText>
                    <MTextField Required Counter="16" maxlength="16" ValidateOnBlur Label="@I18n.T("username")"
                        @bind-Value="command.Username">
                    </MTextField>
                    <MTextField Required Counter="20" maxlength="20" ValidateOnBlur Label="@I18n.T("password")"
                        @bind-Value="command.Password" Type="password" />
                    <MTextField Filled Required Counter="6" maxlength="6" ValidateOnBlur
                        Label="@I18n.T("Registration Code")" @bind-Value="command.Code">
                        <AppendContent>
                            <MTooltip Bottom>
                                <ActivatorContent Context="activatorContext">
                                    <MIcon @attributes="activatorContext.Attrs">
                                        mdi-help-circle-outline
                                    </MIcon>
                                </ActivatorContent>
                                <ChildContent>
                                    @I18n.T("Please contact admin to get the Registration Code")
                                </ChildContent>
                            </MTooltip>
                        </AppendContent>
                    </MTextField>
                </MCardText>
                <MCardActions>
                    <MButton Type="submit" Text Color="teal accent-4">
                        <MIcon>mdi-check-outline</MIcon>
                    </MButton>
                    <MButton Text OnClick="@(() => Nav.Replace("/login"))">
                        <MIcon>mdi-backspace-outline</MIcon>
                    </MButton>
                </MCardActions>
            </MForm>
        </ChildContent>
    </MCard>
</div>

<style>
    .frame {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>